<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title='{{form.name}}'>
  <ion-content class="padding">
    <ion-list>
      <ion-item ng-repeat="question in form.questions">
        {{question.question}}
        <ion-list>
            {{option.option}}:{{option.optionValue}}
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
